{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}

<div class="example-wrapper">
<h1>Accueil</h1>
<h2>Exercice Symfony 4 du 12/03/2019 de Deshayes Gary</h2>
</div>
{% endblock %}
